body{
	margin: 0; 
}

header{
	background-color: #171717; 
	text-align: center; 
	padding: 5px; 
}

.logo{
	width: 350px;
}

nav{
	text-align: center; 
	background-color: #58044F;
}

nav ul{ 
	list-style: none; 
	padding: 5px;
	margin: 0;
}

nav ul li{ 
	display: inline-block; 
}

nav ul li a{
	background-color: #171717;
	color: #fff;
	font-family: Arial;
	width: 150px; 
	display: block; 
	margin: 5px; 
	padding: 9px; 
	text-decoration: none; 
	border-radius: 5px;
	border: 1px inset #F23AB8;
}

nav ul li a:hover{ 
	background-color: #AB0D9A;
}

footer{
	border-bottom: 2px inset #F23AB8;
	border-top: 2px inset #F23AB8;
	color: #DDE1E1;
	text-align: center;
	font-family: WhiteSystematticDuo;
	font-size: 25px;
	background-color: #000;
	margin: 0;
	padding: 10px;
}

main{
	background-color: #2A2A2A; 
	padding: 5px;
}

h1{
	text-align: center;
	font-family: WhiteSystematticDuo;
	color: #fff;
	font-size: 50px;
}

cite{
	margin: 10px 40px;
	color: #AB0D9A;
	font-family: Arial;
	font-weight: bold;
}

#foto1{
	width: 500px;
	margin: 0 20px 20px 40px;
	float: left;
	border-radius: 10px;
}

p{
	margin: 10px 40px;
	color: #DEDEDE;
	text-align: justify;
	font-family: Arial;
}

b{
	color: #F23AB8;
}

.caja{
	border: 5px inset #F23AB8;
	color: #DDE1E1;
	text-align: center;
	background-color: #000;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 40px;
	margin: 10px;
}

.titulo{
	border: 5px inset #F23AB8;
	color: #DDE1E1;
	text-align: center;
	background-color: #000;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 0px 5px;
	margin: 5px auto;
	width: 500px;
}

/*Fonts*/
@font-face{
	font-family: 'WhiteSystematticDuo';
	src: url(../fonts/WhiteSystematticDuo.ttf); 
}


@media screen and (min-width: 394px) and (max-width: 1159px) { 
	.logo{
		width: 250px;
	}
	h1{
		font-size: 40px;
	}
	.titulo{
		width: 400px;
	}
	#foto1{
		width: 400px;
	}
	p{
		font-size: 15px;
	}
}

@media screen and (min-width: 321px) and (max-width: 668px) { 
	.logo{
		width: 150px;
	}
	h1{
		font-size: 30px;
	}
	.titulo{
		width: 300px;
	}
	#foto1{
		width: 300px;
	}
	p{
		font-size: 13px;
	}
	nav ul li a{
		width: 110px; 
		padding: 5px; 
		font-size: 13px;
	}
}


