body{
	margin: 0; 
}

header{
	background-color: #171717; 
	text-align: center; 
	padding: 5px; 
}

.logo{
	width: 350px;
}

nav{
	text-align: center; 
	background-color: #58044F;
}

nav ul{ 
	list-style: none; 
	padding: 5px;
	margin: 0;
}

nav ul li{ 
	display: inline-block; 
}

nav ul li a{
	background-color: #171717;
	color: #fff;
	font-family: Arial;
	width: 150px; 
	display: block; 
	margin: 5px; 
	padding: 9px; 
	text-decoration: none; 
	border-radius: 5px;
	border: 1px inset #F23AB8;
}

nav ul li a:hover{ 
	background-color: #AB0D9A;
}

footer{
	border-bottom: 2px inset #F23AB8;
	border-top: 2px inset #F23AB8;
	color: #DDE1E1;
	text-align: center;
	font-family: WhiteSystematticDuo;
	font-size: 25px;
	background-color: #000;
	margin: 0;
	padding: 10px;
}

main{
	background-color: #2A2A2A; 
	padding: 5px;
}

#imgDisco1{
	width: 450px;
	margin-left: 50px;
	margin-bottom: 10px;
}

.subTit{
	margin: 5px;
	text-align: center;
	font-family: WhiteSystematticDuo;
	font-weight: lighter;
	font-size: 30px;
	background-color: #58044F;
	padding: 10px 20px;
	border-radius: 5px;
}

.subLetra{
	margin: 5px;
	text-align: center;
	font-family: WhiteSystematticDuo;
	font-weight: lighter;
	font-size: 20px;
	background-color: #58044F;
	padding: 10px 20px;
	border-radius: 5px;
}

#list1{
	display: inline-block;
  	vertical-align: top;
}

main ul{
	list-style: none; 
	border: 5px inset #F23AB8;
	color: #DDE1E1;
	text-align: center;
	background-color: #000;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 20px 40px;
	margin: 0;
	margin-left: 40px;
	width: 300px
}

main ul li{
	padding: 5px;
}
main ul li a{
	color: #E8BDE4;
	font-family: Arial;
	text-decoration: none; 	
	padding: 8px;
	border-radius: 5px;
	font-weight: bold;
}
main ul li a:hover{
	border: 3px inset #F23AB8;
	background-color: #2A2A2A;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 5px;
}

h1{
	text-align: center;
	font-family: WhiteSystematticDuo;
	color: #fff;
	font-size: 50px;
}

#letras{
	display: inline-block;
  	vertical-align: top;
}

.letra{
	border: 5px inset #F23AB8;
	color: #DDE1E1;
	text-align: center;
	background-color: #0D0D0D;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 10px 50px;
	padding-bottom: 5px;
	margin: 0;
	margin-left: 40px;
	width: 200px;
}

p{
	padding: 5px;
	font-family: Arial;
	color: #FCC8FA;
	text-align: center;
}

.titulo{
	border: 5px inset #F23AB8;
	color: #DDE1E1;
	text-align: center;
	background-color: #000;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 0px 5px;
	margin: 5px auto;
	margin-bottom: 10px;
	width: 550px;
}

/*Fonts*/
@font-face{
	font-family: 'WhiteSystematticDuo';
	src: url(../fonts/WhiteSystematticDuo.ttf); 
}

@media screen and (min-width: 1160px) and (max-width: 1294px) { 
	#imgDisco1{
		width: 400px;
		margin-left: 30px;
		margin: 20px;
	}
	main ul{
		margin-left: 5px;
		width: 250px
	}
	.subTit{
		font-size: 25px;
		padding: 5px;
	}
	.letra{
		margin-left: 15px;
	}
}

@media screen and (min-width: 394px) and (max-width: 1159px) { 
	.logo{
		width: 250px;
	}
	#imgDisco1{
		width: 400px;
		margin-left: 30px;
		margin: 10px;
	}
	h1{
		font-size: 40px;
	}
	.titulo{
		width: 400px;
	}
	.subTit{
		font-size: 20px;
		padding: 5px;
	}
	.subLetra{
		margin: 5px;
		font-size: 18px;
		padding: 5px;
	}
	main ul{
		padding: 20px 40px;
		margin: 5px;
		margin-left: 10px;
		width: 200px
	}
	.letra{
		padding: 2px 20px;
		padding-bottom: 5px;
		margin: 5px;
		margin-left: 10px;
		width: 200px;
	}
	main ul li a{
		font-size: 15px;
	}
}

@media screen and (min-width: 321px) and (max-width: 668px) { 
	.logo{
		width: 150px;
	}
	nav ul li a{
		width: 110px; 
		padding: 5px; 
		font-size: 13px;
	}
	#imgDisco1{
		width: 400px;
		margin-left: 40px;
		margin-bottom: 10px;
	}
	h1{
		font-size: 30px;
	}
	.titulo{
		width: 300px;
	}
	.subTit{
		font-size: 20px;
		padding: 5px;
	}
	.subLetra{
		margin: 5px;
		font-size: 18px;
		padding: 5px;
	}
	main ul{
		padding: 10px 20px;
		margin: 10px;
		margin-left: 5px;
		width: 180px
	}
	.letra{
		padding: 2px 20px;
		padding-bottom: 5px;
		margin: 5px;
		margin-left: 5px;
		width: 180px;
		font-size: 15px;
	}
	main ul li a{
		font-size: 15px;
	}
}





